<!DOCTYPE html>
<html>
    <head>
        <title>Foosbam</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma/css/bulma.min.css">
        <link rel="stylesheet" href= "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    </head>
    <body>
        <!--Navigation bar-->
        <nav class="navbar is-light" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="{{ url_for('core.index') }}">
                    <h1><b>FOOSBAM</b></h1>
                </a>
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar_menu">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbar_menu" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item", href="{{ url_for('core.add_result') }}">
                        Add result
                    </a>
                    <a class="navbar-item", href="{{ url_for('core.show_results') }}">
                        Results
                    </a>
                    <a class="navbar-item", href="{{ url_for('core.show_season') }}">
                        Season ranking
                    </a>
                    <a class="navbar-item", href="{{ url_for('core.show_ranking') }}">
                        All-time ranking
                    </a>
                </div>
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            {% if current_user.is_anonymous %}
                                <a class="button is-link is-light", href="{{ url_for('auth.register') }}">
                                    Register
                                </a>
                                <a class="button is-link", href="{{ url_for('auth.login') }}">
                                    Sign in
                                </a>
                            {% else %}
                                <a class="button is-link", href="{{ url_for('core.user', user_id=current_user.id) }}">
                                    Profile
                                </a>
                                <a class="button is-danger", href="{{ url_for('auth.logout') }}">
                                    Sign out
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        
        <!-- The actual page -->
        <div>
            <!-- Notifications -->
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}

                    <div class="notification {{ category }} m-4">
                        <button class="delete"></button>
                        {{ message }}
                    </div>

                {% endfor %}
            {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
        </div>
    </body>
</html>