<!DOCTYPE html>
<html>
    <head>
      <title>Foosbam</title>
      <link href="https://cdn.jsdelivr.net/npm/bulma/css/bulma.min.css" rel="stylesheet">
    </head>
    <body>
        <div>
            {% if current_user.is_anonymous %}
                <a href="{{ url_for('login')  }}">Sign in</a>
            {% else %}
                <a href="{{ url_for('logout')  }}">Sign out</a>
            {% endif %}    
            <a href="{{ url_for('index')  }}">Home</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>