{% extends "base.html" %}

{% block content %}
    <section class="section">
        {% if current_user.is_anonymous %}
        <h1 class="title">Welcome to Foosbam!</h1>
        <div class="block">
            With this webapp, you can easily track the results of your foosball games. To start, create an account! You can find a register button in the navigation bar.
        </div>

    {% else %}
        <h1 class="title">Hi {{ current_user.username.title()  }}, welcome to Foosbam!</h1>
        <div class="block">
            With this webapp, you can easily track the results of your foosball games. Use one of the buttons below to add a new result or show past results.
        </div>
        
        <div class="block">
            <a class="button is-link", href="{{ url_for('core.add_result')  }}">
                Add result
            </a>
            
            <a class="button is-link", href="{{ url_for('core.show_results')  }}">
                Show results
            </a>
        </div>
    {% endif %}

    </section>
{% endblock %}