{% extends "base.html" %}

{% block content %}
    <h1>{{ match_details['played_at'] }}</h1>
    <h2>Team Black {{ match_details['score_black'] }} - {{ match_details['score_white'] }} Team White</h2>

    <table>
        <thead>
          <tr>
            <th></th>
            <th>Team Black</th>
            <th>Team White</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Attacker</td>
            <td>{{ player_details['att_black'] }}</td>
            <td>{{ player_details['att_white'] }}</td>
          </tr>
          <tr>
            <td>Defender</td>
            <td>{{ player_details['def_black'] }}</td>
            <td>{{ player_details['def_white'] }}</td>
          </tr>
        </tbody>
    </table>

{% endblock %}