{% extends "base.html" %}

{% block content %}
  <section class="hero">
    <div class="hero-body">
      <p class="title">
        Team Black {{ match_details['score_black'] }} - {{ match_details['score_white'] }} Team White
      <p class="subtitle">
        {{ match_details['played_at'] }}
      </p>
    </div>
  </section>

  <section class="section">
    <h3>Players</h3>
    <div class="table-container">
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>Defender</th>
            <th>Attacker</th>
          </tr>
        </thead>
          <tbody>
            <tr>
              <th>
                <p>Team Black</p>
                <p><i>Klinkers</i></p>
                <p><i>Keeper goals</i></p>
              </th>
              <td>
                <a href="{{ url_for('core.user', user_id=def_black['id']) }}">{{ def_black['name'] }}</a>
                <p class="has-text-right">{{ match_details['klinker_def_black'] }}</p>
                <p class="has-text-right">{{ match_details['keeper_black'] }}</p>
              </td>
              <td>
                <a href="{{ url_for('core.user', user_id=att_black['id']) }}">{{ att_black['name'] }}</a>
                <p class="has-text-right">{{ match_details['klinker_att_black'] }}</p>
              </td>
            </tr>
            <tr>
              <th>
                <p>Team White</p>
                <p><i>Klinkers</i></p>
                <p><i>Keeper goals</i></p>
              </th>
              <td>
                <a href="{{ url_for('core.user', user_id=def_white['id']) }}">{{ def_white['name'] }}</a>
                <p class="has-text-right">{{ match_details['klinker_def_white'] }}</p>
                <p class="has-text-right">{{ match_details['keeper_white'] }}</p>
              </td>
              <td>
                <a href="{{ url_for('core.user', user_id=att_white['id']) }}">{{ att_white['name'] }}</a>
                <p class="has-text-right">{{ match_details['klinker_att_white'] }}</p>
              </td>
            </tr>
          </tbody>
      </table>
    </div>
  </section>

  <section class="section">
    <h3>ELO changes</h3>
    <div class="table-container">
      <table class="table">
        <tbody>
          <tr>
            <th>{{ def_black['name'] }}</th>
            <td>{{ def_black['previous_rating'] }} -> {{ def_black['current_rating'] }}</td>
          </tr>
          <tr>
            <th>{{ att_black['name'] }}</th>
            <td>{{ att_black['previous_rating'] }} -> {{ att_black['current_rating'] }}</td>
          </tr>
          <tr>
            <th>{{ def_white['name'] }}</th>
            <td>{{ def_white['previous_rating'] }} -> {{ def_white['current_rating'] }}</td>
          </tr>
          <tr>
            <th>{{ att_white['name'] }}</th>
            <td>{{ att_white['previous_rating'] }} -> {{ att_white['current_rating'] }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>

{% endblock %}