{% extends "base.html" %}
{% import "macros.html" as m %}

{% block content %}

    <section class="section">
        <div class="container has-text-centered">
            <div class="columns is-centered">
                <div class="column is-narrow">
                    <p class="title">
                        Register new user
                    </p>
                    <div class="box">
                        {{ m.quick_form(form) }}
                    </div>
                    <p>Already registered? <a href="{{ url_for('auth.login') }}">Click here to sign in!</a></p>
                </div>
            </div>
        </div>
    </section>
 
{% endblock %}